/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Concept Medium';
    src: url('../fonts/Concept_Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'The Braggest';
    src:  url('../fonts/TheBraggest.woff2') format('woff2'),
          url('../fonts/TheBraggest.woff') format('woff');
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .hero h2 {
        font-size: 18px !important;
    }
    .hero h3 {
        font-size: 22px !important;
    }
}

.hero h2 {
    font-size: 32px;
}

.hero h3 {
    font-size: 36px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin: 20px auto;
}

header {
    height: 100px;
    background: #49646d91;
    z-index: 9999;
}

.nav-cta a {
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
}

.nav-cta {
    margin: 10px 20px; 
}

.nav-cta .blue-btn, .buttons .blue-btn {
    margin: auto 10px !important;
}

.nav-logo img {
    width: auto;
    height: auto;
    max-height: 100px;
    padding: 16px;
}

.home-banner-img {
    object-fit: cover;
    filter: brightness(0.75);
}

.hero-centered h1, .hero-centered h2, .hero-centered h3 {
    text-shadow: 2px 2px 2px rgb(29, 29, 29);
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    margin: 10px auto;
}

.blue-btn, .nav-cta .blue-btn {
    padding: 10px 20px;
    background-color: #2B2E71;
    border-radius: 8px;
    color: #fff;
    margin: 10px auto;
    border: 1px solid #2B2E71;
    display: table;
}

.blue-btn:hover, .nav-cta .blue-btn:hover {
    transition: background-color;
    transition-duration: 0.7s;
    background-color: #fff;
    color: #2B2E71;
}

.blue-btn.white {
    background: transparent;
    border: 1px solid #fff;
}

.blue-btn.white:hover {
    transition: background-color;
    transition-duration: 1s;
    color: #fff;
    background-color: #2B2E71;
}

.two-col-wrap .text-side {
    color: #fff;
}

.two-col-wrap img {
    min-height: 100%;
    object-fit: cover;
}

.first.two-col-wrap {
    background-color: #76949F;
}

.second.two-col-wrap {
    background-color: #597066;
}

.third.two-col-wrap {
    background-color: #A37B7B;
}

/* Carousel */
.carousel-container {
    background: #2C2E71;
}

.greyish {
    background-color: #76949F;
    border: 1px solid #76949F;
    margin: 0 auto;
}

/* Card Section */
.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 28px;
    color: black;
    box-shadow: 6px 10px 12px rgb(44, 44, 44);
}

.card > div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.card.one > div {
    background-image: url('../images/blob-1.png');
}

.card.two > div {
    background-image: url('../images/blob-2.png');
}

.card.three > div {
    background-image: url('../images/blob-3.png');
}

.card .card-body p {
    font-size: 14px;
}

.card .card-header h3 {
    font-size: 18px;
    font-weight: 600;
}

/* Carousel */
.carousel {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.left-arrow {
    left: 0;
    border-right: 20px solid #fff;
}

.right-arrow {
    right: 0;
    border-left: 20px solid #fff;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
}

.review-author {
    font-family: 'The Braggest', sans-serif;
    font-size: 36px;
}

@media only screen and (max-width: 768px) {
    .reviews-section {
        height: 380px;
    }
    .quote-container iframe {
        height: calc(100vh - 10rem);
    }
    .nav-cta .blue-btn.hidden {
        display: none;
    }
    .nav-cta {
        margin: auto 10px;
    }
}

.quote-container iframe {
    max-width: 100%;
    height: calc(100vh - 10rem);
}

.instructions-container {
    background: #597066;
}



.footer-logo img {
    max-height: 120px;
}

.footer .footer-info p {
    margin: 0;
}

.footer .social-icons img {
    width: 44px;
    height: 44px;
}

.footer .footer-social h3 {
    line-height: 1.2;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    header {
        height: 80px;
    }
    .nav-logo img {
        max-height: 80px;
    }
}